<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Connect to Coffee Shop WiFi</h1>
          <h2>See what interests people at the <span class="text-success">Coffee Shop</span> <em>right now</em>!</h2>
          <h2 class="form-signin-heading lead"><%= Prompt.first.prompt_text %></h2>
          <label for="inputEmail" class="sr-only">Type your response here!</label>
          <input id="answer" type="input" class="form-control" placeholder="<%= Prompt.first.prompt_placeholder_text %>" required autofocus>
          <br/>
          <label>
            <input type="checkbox"> I agree to <a href="/pages/terms">the terms</a>.
          </label>
          <button id="connect_and_view" class="btn btn-lg btn-primary btn-block" type="submit">Connect and read the room</button>
          <button id="just_connect" class="btn btn-lg btn-default btn-block" type="submit">Just connect to WiFi</button>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<% content_for :footer do %>
<script src="/assets/google_analytics.self-988e49f5dbadf1d7a81363e41c935547701e82df2321e1c8d7a9fd5fd6aee471.js?body=1"></script>
<script type="text/javascript">
  
  $('#connect_and_view').on('click', function(){
    var promptId = <%= Prompt.first.id %>;
    var answer = $('#answer').val();
    
    $.ajax({
      url: "/answers/record?prompt_id="+promptId+"&answer="+answer,
      type: 'POST',
      success: function(msg) {
//           alert(answer);
      }
    });
    
  });
  
</script>
<% end %>