<% content_for :title do %>Word Cloud<% end %>

<div class="container">
<h3>Results</h3>
      <div class="row">
        <div class="col-md-12">
          <canvas id="myChart" width="400" height="400"></canvas>   
        </div>
      </div>
</div>
<% content_for :footer do %>
<script src="/js/Chart.min.js"></script>
<script type="text/javascript">
      // Get context with jQuery - using jQuery's .get() method.
      var ctx = $("#myChart").get(0).getContext("2d");
      // This will get the first returned node in the jQuery collection.
      var myNewChart = new Chart(ctx);


      
            
      var data = {
          labels: <%= raw @chart_data.keys%>,
          datasets: [
              {
                  label: "My First dataset",
                  fillColor: "rgba(220,220,220,0.5)",
                  strokeColor: "rgba(220,220,220,0.8)",
                  highlightFill: "rgba(220,220,220,0.75)",
                  highlightStroke: "rgba(220,220,220,1)",
                  data: <%=raw @chart_data.values%>
              }
          ]
      };

      var options = {
          //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
          scaleBeginAtZero : true,
      
          //Boolean - Whether grid lines are shown across the chart
          scaleShowGridLines : true,
      
          //String - Colour of the grid lines
          scaleGridLineColor : "rgba(0,0,0,.05)",
      
          //Number - Width of the grid lines
          scaleGridLineWidth : 1,
      
          //Boolean - Whether to show horizontal lines (except X axis)
          scaleShowHorizontalLines: true,
      
          //Boolean - Whether to show vertical lines (except Y axis)
          scaleShowVerticalLines: true,
      
          //Boolean - If there is a stroke on each bar
          barShowStroke : true,
      
          //Number - Pixel width of the bar stroke
          barStrokeWidth : 2,
      
          //Number - Spacing between each of the X value sets
          barValueSpacing : 5,
      
          //Number - Spacing between data sets within X values
          barDatasetSpacing : 1,

      }; 
      
      var myBarChart = new Chart(ctx).Bar(data, options);     
</script>
<% end %>