<% content_for :title do %>Word Cloud<% end %>

<div class="container">
<h3>Word Cloud</h3>
      <div class="row">
        <div class="col-md-12" id="canvas-container">
          <div id="example" style="width: 550px; height: 350px;"></div>    
        </div>
      </div>
</div>
<% content_for :footer do %>

<script type="text/javascript">
      var word_array = [<%= raw @word_list%>];
      
      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array);
      });
</script>
<% end %>